@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&family=Roboto+Slab&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}
.nav {
  height: 5rem;
  box-shadow: 1px 2px 3px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
hr {
  position: absolute;
  width: 80%;
}
.logo:is(:link, :visited) {
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  z-index: 100;
  background-color: #fff;
}
span {
  color: #0066ff;
  margin-left: 10px;
}
.get-started-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  min-height: 50rem;
}
.btns {
  display: flex;
  gap: 1rem;
}
h1 {
  font-size: 6rem;

  transform: translateY(-30rem);
  opacity: 0;
  transition: all 1s;
}
.btn:is(:link, :visited) {
  text-decoration: none;
  color: #fff;
  border: 1.5px solid #000;
  color: #000;
  font-weight: 600;
  padding: 1.5rem 3rem;

  transition: all 0.3s;
}
/* background-color: #0066ffcf; */
.btn:is(:hover, :active) {
  background-color: #000000db;
  color: #fff;
}
.login-btn {
  opacity: 0;
  transform: translateX(-30rem);
  transition: opacity, transform 1s !important;
}
.signup-btn {
  opacity: 0;
  transform: translateX(30rem);
  transition: opacity, transform 1s !important;
}
.show {
  opacity: 1;
  transform: translate(0);
}
